.circle {
    position: relative;
    padding-left: 15px;
    z-index: 2;
    @include before_circle;
    &_about {
        &:before {
            top: -15px;
        }
    }
}
.text_fz12 {
    font-size: 12px;
    line-height: 18px;
}
